.result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  padding-top: 32px;
}

.share-container {
  display: inline-grid;
  margin-top: 20px;
}

.share-message {
  margin-bottom: 20px;
  font-size: 24px;
}

.share-button {
  font: bold 11px;
  font-weight: 700;
  text-decoration: none;
  background-color: #1ed760;
  color: white;
  border-radius: 10px;
  height: 41px;
  align-items: center;
  border: none;
  padding: 0 22px 0 22px;
  max-width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.social-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 22px;
}

.social-icon {
  margin: 0 5px 0 5px;
}

.past-moods-container {
    margin-top: 20px;
    max-width: 736px;
}

.past-moods-header {
  font-family: "CircularSpotifyText-Medium", -apple-system, BlinkMacSystemFont;
  font-size: 1.8em;
}
