header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
}

.navbar {
  display: flex;
  margin-top: 102px;
  border-radius: 36px;
  background: #312d2b;
  opacity: 70%;
  color: #fff;
  top: 102px;
  text-decoration: none;
  margin-left: 20%;
  margin-right: 20%;
  padding: 5px;
}

.navbar-text {
  padding-top: 10px;
}

.donate {
    width:  100vh;
    display: flex;
    justify-content: flex-end;
}

.donate-button {
  background: #4c4846;
  border-radius: 36px;
  padding: 10px 22px 10px 22px;
}

.moodify-header {
  max-width: 670px;
  height: 98px;
  padding-top: 164px;
  font-size: 36px;
  margin: 0;
  margin-left: 27%;
  margin-right: 27%;
}

.moodify-subheader {
  font-weight: 400;
  margin-bottom: 22px;
  margin-top: 0px;
}

.spotify-button {
  font: bold 11px;
  font-weight: 700;
  text-decoration: none;
  background-color: #1ed760;
  color: white;
  border-radius: 10px;
  height: 41px;
  top: 454px;
  align-items: center;
  border: none;
  margin-top: 22px;
}

.login-text {
  padding: 20px;
}

.code-button {
  font: bold 11px;
  font-weight: 700;
  text-decoration: none;
  background-color: #248aff;
  color: white;
  border-radius: 10px;
  height: 41px;
  align-items: center;
  border: none;
  margin-top: 22px;
}

.code-text {
  padding: 20px;
}

.generation {
  position: relative;
  text-align: center;
}

.about {
  padding-top: 164px;
  position: relative;
  text-align: center;
  max-width: 900px;
  max-height: 230px;
  margin-left: auto;
  margin-right: auto; 
}

.about-header {
  font-size: 36px;
  font-family: "CircularSpotifyText-Medium", -apple-system, BlinkMacSystemFont,
  "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
  "Droid Sans", "Helvetica Neue", sans-serif;
}

.about-description {
  font-size: 24px;
  font-family: "CircularSpotifyText-Light", -apple-system, BlinkMacSystemFont,

}

.community {
  position: relative;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
}

.community-header {
  font-style: normal;
  font-weight: 900;
  font-size: 36px;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loading-spinner {
  width: 50px;
  height: 50px;
  border: 10px solid #f3f3f3; /* Light grey */
  border-top: 10px solid #383636; /* Black */
  border-radius: 50%;
  animation: spinner 1.5s linear infinite;
}

.spinner-container {
  display: grid;
  justify-content: center;
  align-items: center;
  height: 350px;
}
