@font-face {
  font-family: "CircularSpotifyText-Black";
  src: local("CircularSpotifyText-Black"),
    url("./fonts/CircularSpotifyText-Black.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-Light";
  src: local("CircularSpotifyText-Light"),
    url("./fonts/CircularSpotifyText-Light.otf") format("opentype");
}

@font-face {
  font-family: "CircularSpotifyText-Medium";
  src: local("CircularSpotifyText-Medium"),
    url("./fonts/CircularSpotifyText-Medium.otf") format("opentype");
}

body {
  height: 100vh;
  background: rgb(7, 42, 0);
  background: linear-gradient(
    180deg,
    rgba(7, 42, 0, 1) 0%,
    rgba(0, 0, 0, 1) 100%
  );
  color: white;
  justify-content: center;
  align-items: center;

  margin: 0;
  font-family: "CircularSpotifyText-Light", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1 {
  text-align: center;
  font-family: "CircularSpotifyText-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

a {
  font-family: "CircularSpotifyText-Medium", -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  text-decoration: none;
  margin-left: 56px;
  color: white;
}

a.selected {
  font-weight: 900;
}
